<div class="calendar-table">
  <table class="table-condensed">
    <thead>
      <tr>
        <th class="prev available" ng-click="vm.changeMonth(-1)">
          <i class="fa fa-chevron-left" ng-show="vm.prevVisible || vm.placement == 'left'"></i>
        </th>
        <th colspan="5" class="month">{{ vm.date.toDate() | date:'MMM yyyy' }}</th>
        <th class="next available" ng-click="vm.changeMonth(1)">
          <i class="fa fa-chevron-right" ng-show="vm.nextVisible || vm.placement == 'right'"></i>
        </th>
      </tr>
      <tr>
        <th ng-repeat="weekDay in vm.weekDays">{{ weekDay }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="week in vm.days">
        <td ng-repeat="day in week" class="available" ng-click="vm.onClick(day)" ng-class="vm.getDayClasses(day)">
          {{ day.label }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
